layout {
	tab hide_floating_panes=true {
		pane {
			name "code"
			edit "."
			focus true
		}
		pane {
			split_direction "vertical"
			size "25%"
			pane {
				name "term"
				size "50%"
			}
			pane {
				name "tests"
			}
		}
		floating_panes {
			pane {
				name "git"
				command "lazygit"
				width "80%"
				height "80%"
				x "10%"
				y "10%"
			}
		}
	}
}
